.contact-form{
    
        display: grid;
        padding: 20px;
        margin-left: 37%;
        /* margin-right: 50%; */
        background-color: white;
        /* color: darkorange; */
    
        width: 300px;
        margin: 5vh auto 0 auto;
        background-color: lightcyan;
        border-radius: 15px;
        padding: 30px;
        

}